.header-bg{
  background: var(--p2);
}
.header{
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

}
.logo img{
  width: 10rem;
}
.header a{
  text-transform: uppercase;
  color: var(--p10);
}